#app {
    margin: 0;
}
.comic-grid {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 500px;
    margin-top: 50px;
}
#nav {
    img {
        width: 200px;
        height: 70px;
    }
}

h1 {
    font-family: Marvel;
    padding-top: 20px;
    font-weight: bold;
    color: red;
}

#flotante {
    display: none;
}

#logoLanding {
    width: 750px;
}
#container2 {
    #info {
        font-family: Marvel;
        font-weight: bold;
        font-size: 1.5rem;
    }
    #info2 {
        font-family: Marvel;
        font-weight: bold;
        font-size: 1.5rem;
        color: red;
    }
}
.col-md {
    border-color: black 1px solid;
    div {
        padding-top: 8px;
    }
}

article {
    padding-top: 25px;
    h3 {
        font-family: Marvel;
        font-weight: bold;
    }
    &:hover {
        #precio {
            transform: none;
            position: absolute;
            bottom: 25px;
            left: 0;
            right: 0;
            font-weight: bold;
            color: green;
            font-size: 1.1rem;
        }
        border-width: 3px;
        #comicMain {
            height: 252px;
            width: 168px;
        }
        -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
        border-color: red;
        box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 1);
        #flotante {
            padding-top: 10px;
            height: 20%;
            transition: transform 0.3s;
            display: block;
        }
    }

    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    width: 320px;
    height: 450px;
    margin-bottom: 5px;

    #comicMain {
        border-radius: 6px;
        height: 364px;
        width: 266px;
    }
}
#container1 {
    height: 210px;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: rgba(236, 29, 36, 255);
}

#container2 {
    background-color: whitesmoke;
    padding-top: 120px;
    padding-bottom: 5px;
    .row {
        margin-left: auto;
        margin-right: auto;
    }
}
#logoLanding {
    transform: translateY(40px);
    width: 650px;
}

#container3 {
    padding-top: 10px;
    height: 210px;
    background-color: rgb(6, 26, 26);
    .row {
        margin-left: auto;
        margin-right: auto;
    }
    #info{
        color: red;
    }
    #info2{
        color: white;
    }
}
