h2 {
    color: blue;
}
.comic-grid {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 500px;
    margin-top: 50px;
}

article {
    &:hover {
        -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
        border-color: red;
    }
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    width: 320px;
    height: 450px;
    margin-bottom: 5px;
    #comicMain {
        height: 324px;
        width: 216px;
    }
}
